.imgContainer {
    position: absolute;
    top: 17vh;
    left: 27vw;
    width: 220px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
}

.avatarImg {
    position: absolute;
    left: -42px;
}

.paperClip {
    position: absolute;
    top: 2.43vh;
    left: 30vw;
}

.underImgInfo {
    position: absolute;
    top: 50vh;
    left: 31vw;

    font-family: 'Hind Madurai', sans-serif;
    font-size: calc((1.4vh + 1.4vw) / 2);
    font-weight: 500;
}

.underImgInfo li {
    list-style-type: none;
    margin-bottom: -7px;
}