.directionOfStudy {
    position: absolute;
    top: 33vh;
    left: -16.5vw;

    width: 15vw;

    font-size: calc((1.3vh + 1.3vw) / 2);
    background-color: #ffffff00;

}


b {
    background-color: #ffffff00;
    font-size: calc((1.45vh + 1.45vw) / 2);
}