.abilityList {
    position: absolute;
    left: 22vw;
    top: 96vh;
    font-size: calc((1.5vh + 1.5vw) / 2);
    background-color: #ffffff00;
    font-weight: 600;
}

@media all and (max-width: 1440px) {}

@media all and (max-width: 1080px) {}


@media all and (max-width: 1024px) {}

@media all and (max-width: 768px) {}


@media all and (max-width: 425px) {}

@media all and (max-width: 375px) {}

@media all and (max-width: 320px) {}