.abilityList {
    position: absolute;
    left: 22vw;
    top: 96vh;
    font-size: calc((1.5vh + 1.5vw) / 2);
    background-color: #ffffff00;
    font-weight: 600;
}

@media all and (max-width: 1440px) {
    .abilityList {
        left: 83vw;
        top: 96vh;
        font-size: calc((3vh + 3vw) / 2);
    }
}

@media all and (max-width: 1080px) {
    .abilityList {
        left: 83vw;
        top: 96vh;
        font-size: calc((3vh + 3vw) / 2);
    }
}


@media all and (max-width: 1024px) {
    .abilityList {
        left: 83vw;
        top: 96vh;
        font-size: calc((3vh + 3vw) / 2);
    }
}

@media all and (max-width: 768px) {
    .abilityList {
        left: 58vw;
        top: 94vh;
        font-size: calc((3.2vh + 3.2vw) / 2);
    }
}


@media all and (max-width: 425px) {
    .abilityList {
        left: 52vw;
        top: 96vh;
        font-size: calc((3vh + 3vw) / 2);
    }
}

@media all and (max-width: 375px) {
    .abilityList {
        left: 62vw;
        top: 94vh;
        font-size: calc((2.8vh + 2.8vw) / 2);
    }
}

@media all and (max-width: 320px) {
    .abilityList {
        left: 83vw;
        top: 96vh;
        font-size: calc((3vh + 3vw) / 2);
    }
}