.main {
    width: 100%;
}

.centerContainer {
    position: absolute;
    left: 30vw;
    width: 40vw;
}

.paperClip2 {
    position: absolute;

    top: 7.94vh;
    left: 13vw;

    max-width: 150px;
    max-height: 150px;
}

.linesContainer {
    position: absolute;
    background-color: #ffffff00;
}


@media all and (max-width: 768px) {
    .centerContainer {
        position: absolute;
        left: 10vw;
        width: 80vw;
    }

    .paperClip2 {
        position: absolute;

        top: 7.94vh;
        left: 13vw;

        max-width: 150px;
        max-height: 150px;
    }

    .linesContainer {
        top: 4px;
        left: 5px;
    }
}


@media all and (max-width: 375px) {
    .centerContainer {
        position: absolute;
        left: 10vw;
        width: 120vw;
    }

    .paperClip2 {
        position: absolute;
    }

    .linesContainer {
        top: 5.8vh;
        left: -4vw;
        scale: 0.58;
    }
}

@media all and (max-width: 320px) {
    .centerContainer {
        position: absolute;
        left: 10vw;
        width: 150vw;
    }

    .paperClip2 {
        position: absolute;
    }

    .linesContainer {
        top: 4vh;
        scale: 0.72;
    }
}