.imgContainer {
    position: absolute;
    top: 17vh;
    left: 27vw;
    width: 220px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
}

.avatarImg {
    position: absolute;
    left: -42px;
    max-width: 300px;
    max-height: 300px;
}

.paperClip {
    position: absolute;
    top: 2.43vh;
    left: 30vw;
    max-width: 500px;
    max-height: 500px;
}

.underImgInfo {
    position: absolute;
    top: 50vh;
    left: 31vw;

    font-family: 'Hind Madurai', sans-serif;
    font-size: calc((1.4vh + 1.4vw) / 2);
    font-weight: 500;
}

.underImgInfo li {
    list-style-type: none;
    margin-bottom: -7px;
}

@media all and (max-width: 1440px) {

    .paperClip {
        top: 0.5vh;
        left: 48vw;
        max-width: 500px;
        max-height: 500px;
    }

    .imgContainer {
        top: 19vh;
        left: 42vw;
        width: 270px;
        height: 330px;
    }

    .avatarImg {
        position: absolute;
        top: -4px;
        left: -26px;
        max-width: 330px;
        max-height: 330px;
    }

    .underImgInfo {
        top: 53vh;
        left: 51vw;
        font-size: calc((2vh + 2vw) / 2);
    }
}

@media all and (max-width: 1024px) {

    .paperClip {
        top: -2.2vh;
        left: 61vw;
        max-width: 500px;
        max-height: 500px;
    }

    .imgContainer {
        top: 19vh;
        left: 55vw;
        width: 230px;
        height: 330px;
    }

    .avatarImg {
        position: absolute;
        top: -4px;
        left: -46px;
        max-width: 330px;
        max-height: 330px;
    }

    .underImgInfo {
        top: 58vh;
        left: 64vw;
        font-size: calc((2.3vh + 2.3vw) / 2);
    }
}



@media all and (max-width: 768px) {

    .paperClip {
        top: -2.2vh;
        left: 78vw;
        max-width: 500px;
        max-height: 500px;
    }

    .imgContainer {
        top: 19vh;
        left: 68vw;
        width: 230px;
        height: 263px;
    }

    .avatarImg {
        position: absolute;
        top: -4px;
        left: -17px;
        max-width: 270px;
        max-height: 270px;
    }

    .underImgInfo {
        top: 51vh;
        left: 81vw;
        font-size: calc((2.6vh + 2.6vw) / 2);
    }
}


@media all and (max-width: 425px) {

    .paperClip {
        top: 0.5vh;
        left: 68vw;

        max-width: 425px;
        max-height: 425px;
    }

    .imgContainer {
        top: 36vh;
        left: 53vw;
        width: 185px;
        height: 200px;
    }

    .avatarImg {
        position: absolute;
        top: -27px;
        left: -32px;
        max-width: 250px;
        max-height: 250px;
    }

    .underImgInfo {
        top: 60vh;
        left: 73vw;
        font-size: calc((2.6vh + 2.6vw) / 2);
    }
}

@media all and (max-width: 375px) {

    .paperClip {
        top: 4.75vh;
        left: 89vw;
        max-width: 300px;
        max-height: 300px;
    }

    .imgContainer {
        top: 35vh;
        left: 58vw;
        width: 200px;
        height: 240px;
    }

    .avatarImg {
        position: absolute;
        top: -27px;
        left: -48px;
        max-width: 300px;
        max-height: 300px;
    }

    .underImgInfo {
        top: 65vh;
        left: 80vw;

        font-size: calc((3vh + 3vw) / 2);
    }

}


@media (max-width: 320px) {
    .paperClip {
        top: -2.25vh;
        left: 100vw;
        max-width: 500px;
        max-height: 500px;
    }

    .imgContainer {
        top: 40vh;
        left: 85vw;
        width: 180px;
        height: 180px;
    }

    .avatarImg {
        position: absolute;
        top: -14px;
        left: -10px;
        max-width: 200px;
        max-height: 200px;
    }

    .underImgInfo {
        top: 62vh;
        left: 108vw;

        font-size: calc((3vh + 3vw) / 2);
    }
}