.cardHead {
    position: absolute;
    --width: 20vw;
    width: var(--width);

    --height: 10vh;
    height: var(--height);

    top: 10vh;
    left: calc(50% - var(--width));

    border-radius: 10px;
    background-color: #ffffff;
}



.cardBody {
    position: absolute;

    --width: 100%;
    width: var(--width);

    --height: 45vh;
    height: var(--height);


    top: 15vh;
    left: calc(50% - var(--width) / 2);

    border-radius: 20px;
    background-color: #ffffff;
}


.background {
    position: absolute;

    --width: 100%;
    --height: 45vh;


    width: var(--width);
    height: calc(var(--height) + 3vh);

    top: 12vh;
    left: calc(50% - var(--width) / 2);

    border-radius: 20px;

    filter: drop-shadow(11px 23px 100px #000000);
    background-color: #D9D9D9;
}

.name {
    position: absolute;

    top: 0.5vh;
    left: 5vh;

    font-size: calc((2vh + 2vw) / 2);
    font-family: 'Hind Madurai', sans-serif;

    background-color: #ffffff00;
}


.job {

    display: flex;
    justify-content: space-around;
    width: 20vw;

    position: absolute;
    top: 2vh;
    left: 2vh;

    font-family: 'Hind Madurai', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    background-color: #ffffff00;
}

.left {
    background-color: #ffffff00;
}


.right {
    background-color: #ffffff00;
}

@media all and (max-width: 1440px) {
    .cardHead {
        left: -4vw;

        --width: 35vw;
        width: var(--width);
    }

    .name {
        top: 0.1vh;
        left: 7vh;
        font-size: calc((3vh + 3vw) / 2);
    }

    .cardBody {

        left: -4vw;

        --height: 57vh;
        height: var(--height);
    }

    .background {
        left: -4vw;


        --height: 57vh;
        height: var(--height);

    }

    .job {
        left: 2vw;
        top: 4vh;
        width: 40vw;
        font-size: 4vh;
    }
}


@media all and (max-width: 1024px) {
    .cardHead {
        left: -4vw;

        --width: 35vw;
        width: var(--width);
    }

    .name {
        top: 0.3vh;
        left: 5vh;
        font-size: calc((3vh + 3vw) / 2);
    }

    .cardBody {

        left: -4vw;

        --height: 57vh;
        height: var(--height);
    }

    .background {
        left: -4vw;


        --height: 57vh;
        height: var(--height);

    }

    .job {
        left: 2vw;
        top: 4vh;
        width: 50vw;
        font-size: 4vh;
    }
}

@media all and (max-width: 768px) {
    .cardHead {
        left: -4vw;

        --width: 40vw;
        width: var(--width);
    }

    .name {
        top: 0.3vh;
        left: 2vh;
        font-size: calc((3.5vh + 3.5vw) / 2);
    }

    .cardBody {

        left: -4vw;

        --height: 57vh;
        height: var(--height);
    }

    .background {
        left: -4vw;


        --height: 57vh;
        height: var(--height);

    }

    .job {
        left: 0vw;
        top: 4vh;
        width: 65vw;
        font-size: 4vh;

    }
}

@media all and (max-width: 425px) {
    .cardHead {
        left: -4vw;


        --width: 60vw;
        width: var(--width);
    }

    .name {
        top: 0.8vh;
        left: 2vh;
        font-size: calc((3.5vh + 3.5vw) / 2);
    }

    .cardBody {

        left: -4vw;

        --height: 57vh;
        height: var(--height);
    }

    .background {
        left: -4vw;


        --height: 57vh;
        height: var(--height);

    }

    .job {
        left: 0vw;
        top: 4vh;
        width: 100%;
        font-size: 4vh;

    }
}

@media all and (max-width: 375px) {
    .cardHead {
        left: -4vw;


        --width: 60vw;
        width: var(--width);
    }

    .name {
        top: 0.5vh;
        left: 1vh;
        font-size: calc((3.5vh + 3.5vw) / 2);
    }

    .cardBody {

        left: -4vw;

        --height: 64vh;
        height: var(--height);
    }

    .background {
        left: -4vw;


        --height: 64vh;
        height: var(--height);

    }

    .job {
        left: 0vw;
        top: 4vh;
        width: 100%;
        font-size: 4vh;

    }
}



@media all and (max-width: 320px) {
    .cardHead {
        left: 0vw;

        --width: 90vw;
        width: var(--width);
    }

    .name {
        top: 0.5vh;
        left: 2vh;
        font-size: calc((4.5vh + 4.5vw) / 2);
    }

    .cardBody {

        left: 0vw;

        --height: 64vh;
        height: var(--height);
    }

    .background {
        left: 0vw;

        --height: 64vh;
        height: var(--height);

    }

    .job {
        left: 0vw;
        top: 4vh;
        width: 150vw;
        font-size: 4vh;

    }
}