.footerString {
    position: absolute;
    top: 122.5vh;
    left: 1.5vw;
    width: 37vw;
    font-size: calc((1.5vh + 1.5vw) / 2);
    font-weight: 600;
    background-color: #ffffff00;
}

@media all and (max-width: 1440px) {
    .footerString {
        top: 122.5vh;
        left: 5.5vw;
        width: 141vw;
        font-size: calc((2.5vh + 2.5vw) / 2);
    }
}

@media all and (max-width: 1080px) {
    .footerString {
        top: 122.5vh;
        left: 5.5vw;
        width: 141vw;
        font-size: calc((2.5vh + 2.5vw) / 2);
    }
}


@media all and (max-width: 1024px) {
    .footerString {
        top: 122.5vh;
        left: 5.5vw;
        width: 141vw;
        font-size: calc((2.5vh + 2.5vw) / 2);
    }
}

@media all and (max-width: 768px) {
    .footerString {
        top: 122.5vh;
        left: 5.5vw;
        width: 141vw;
        font-size: calc((2.5vh + 2.5vw) / 2);
    }
}


@media all and (max-width: 425px) {
    .footerString {
        top: 122.5vh;
        left: 5.5vw;
        width: 141vw;
        font-size: calc((2.5vh + 2.5vw) / 2);
    }
}

@media all and (max-width: 375px) {
    .footerString {
        top: 118.5vh;
        left: 1.5vw;
        width: 117vw;
        font-size: calc((2.5vh + 2.5vw) / 2);
    }
}

@media all and (max-width: 320px) {
    .footerString {
        top: 122.5vh;
        left: 5.5vw;
        width: 141vw;
        font-size: calc((2.5vh + 2.5vw) / 2);
    }
}