.statsList {
    position: absolute;
    top: 30vh;
    left: 2vw;


    font-family: 'Hind Madurai', sans-serif;
    font-size: calc((1.4vh + 1.4vw) / 2);
    font-weight: 600;

    background-color: #ffffff00;
}


.qrGit {
    position: absolute;
    top: 13vh;
    left: 14vw;
    max-width: 130px;
    max-height: 130px;
    box-shadow: 5px 5px 20px black;
}


.gitContainer {
    background-color: #ffffff00;
}

ul {
    margin-top: 10px;
    background-color: #ffffff00;
    list-style-position: outside;
    padding-left: 0;
}

li {
    list-style-type: none;
    background-color: #ffffff00;
}

a {
    text-decoration: none;
    background-color: #ffffff00;
}


@media all and (max-width: 768px) {

    .statsList {
        left: 4vw;

        width: 30vw;

        font-size: calc((2.5vh + 2.5vw) / 2);
        font-weight: 600;

    }

    .qrGit {
        display: none;
    }

    .gitContainer {
        position: absolute;
        top: 20vh;
        left: -12vw;
    }

}

@media all and (max-width: 425px) {

    .qrGit {
        display: none;
    }

    .gitContainer {
        position: absolute;
        top: 14 vh;
        left: -12vw;
    }
}

@media all and (max-width: 320px) {


    .statsList {
        position: absolute;
        top: 36vh;
        left: 8vw;

        width: 70vw;


        font-family: 'Hind Madurai', sans-serif;
        font-size: calc((4vh + 4vw) / 2);
        font-weight: 600;

        background-color: #ffffff00;
    }

    .qrGit {
        display: none;
    }

    .gitContainer {
        top: 30vh;
    }
}